<section class="content-section">

  <header class="section-header">
    <h2>Education</h2>
  </header>

  <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
    <h3 class="resume-item-title" itemprop="name">Bowling Green State University</h3>
    <h4 class="resume-item-details" itemprop="description">Bachelors Degree, Computer Science &bull; 1997 &mdash; 2000</h4>
    <p class="resume-item-copy">Activities and Societies: Kappa Alpha Order</p>
  </div>

</section>
