<section class="content-section">

  <header class="section-header">
    <h2>Experience</h2>
  </header>

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Appalachian Mountain Club</h3>
    <h4 class="resume-item-details" itemprop="description">Software Architect / Lead Developer &bull; July, 2018 &mdash; Present</h4>
    <p class="resume-item-copy">Architect responsible for all of the AMC's online properties / leading a team of three developers.</p>
    <ul class="resume-item-list">
      <li>Managed a team of three developers</li>
      <li>
        Architected a new web presence of AMC using Docker, AWS, a Headless CMS (Directus),
        NextJS (for static page rendering), and ReactJS components.
      </li>
      <li>Moved AMC to use AWS solutions (S3, CloudFront, CodeDeploy, and EC2)</li>
      <li>Responsible for all AMC properties, including: <a href="https://www.outdoors.org" target="_blank">www.outdoors.org</a>, <a href="https://reservations.outdoors.org" target="_blank">reservations.outdoors.org</a>, <a href="https://activities.outdoors.org" target="_blank">activities.outdoors.org</a>, <a href="https://amcstore.outdoors.org" target="_blank">amcstore.outdoors.org</a></li>
      <li>Rebranded all of the online AMC properties during the 2019 new brand rollout</li>
      <li>
        Managed a remote offshore team of developers focused on PHP development
      </li>
      <li>
        Responsible for analysis, migration, maintanance, and depreciation of the
        tech debt AMC has accumulated.
      </li>
    </ul>
    <p class="resume-item-copy">Main technologies used: PHP, React, NextJS, AWS, NodeJS, Styled Components, Docker, Directus (Headless CMS), MySQL / MSSQL, WordPress.</p>
  </div><!-- end of resume-item -->

  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Healthcaresource</h3>
    <h4 class="resume-item-details" itemprop="description">Lead Software Engineer &bull; May, 2017 &mdash; July 2018</h4>
    <p class="resume-item-copy">Lead engineer on Healthcaresource's recruitment marking product and ReactJS component library.</p>
    <ul class="resume-item-list">
      <li>Managed a team of one (junior dev / qa)</li>
      <li>Created a brand new ReactJS component library to be used across all of Healthcaresources products. Based on atomic design and built with React, Storybook, Styled-Components, Webpack, Babel, Jest, Plop and more.</li>
      <li>Leading the development and roadmap of the Healthcaresource recruitment marketing offering. A vast offering that includes sourcing, CRM, career sites and more.</li>
    </ul>
    <p class="resume-item-copy">Main technologies used: Ruby on Rails, React, NodeJS, Backbone, Sass, Liquid, Java and C#.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Eastern Labs - Eastern Bank</h3>
    <h4 class="resume-item-details" itemprop="description">Lead Software Engineer &bull; Feb, 2016 &mdash; Mar, 2017</h4>
    <p class="resume-item-copy">Lead engineer for the Eastern Labs team in charge of developing the online and mobile banking platforms for Eastern Bank.</p>
    <ul class="resume-item-list">
      <li>Managed a team of 10 consisting of 8 front-end developers, 1 QA automation engineer and 1 technical product manager</li>
      <li>In charge of roadmap, timelines, and technical delivery (sprints, backlog, etc.)</li>
      <li>Architected everything from build system to service layer to Sass infrastructure.</li>
    </ul>
    <p class="resume-item-copy">Main technologies used: Angular (1.x), Gulp, Ionic, Cordova, Sass, IBM Mobile First, and a backend Java API.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Monster.com</h3>
    <h4 class="resume-item-details" itemprop="description">Principle UI/UX Engineer &bull; Nov, 2013 &mdash; Feb, 2016</h4>
    <p class="resume-item-copy">Lead developer of a innovation focused team tasked with proving out Monsters new job ad platform.</p>
    <ul class="resume-item-list">
      <li>Lead developer on <a href="http://jobs.com" target="_blank">http://jobs.com</a> and multiple internal job and analytical platforms</li>
      <li>Brought backbone / marionette plus Sass development practices to Monster</li>
      <li>Worked on multiple, iterative prototypes of tooling to increase job ad performance</li>
    </ul>
    <p class="resume-item-copy">Main technologies used: BackboneJS, MarionetteJS, LESS, C#, Grunt.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">StubHub</h3>
    <h4 class="resume-item-details" itemprop="description">Principle Front-end Engineer &bull; March, 2013 &mdash; Oct, 2013</h4>
    <p class="resume-item-copy">Initial hire for StubHub's Boston effort. Tasked with moving StubHub to a backbone + marionette front-end to reinvent the StubHub UI.</p>
    <p class="resume-item-copy">Main technologies used: BackboneJS, MarionetteJS, LESS.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Backupify</h3>
    <h4 class="resume-item-details" itemprop="description">Lead Front-end Engineer &bull; Feb, 2011 &mdash; March, 2013</h4>
    <p class="resume-item-copy">Lead front-end engineer at Backupify. Lead and architected front-end solutions for:</p>
    <ul class="resume-item-list">
      <li>the Backupify Ruby on Rails application suite found at <a href="https://sso.backupify.com/login" target="_blank">https://sso.backupify.com/login</a></li>
      <li>the Backupify marketing sites / materials found at <a href="http://backupify.com" target="_blank">http://backupify.com</a></li>
      <li>the Backupify + Symantec white labeled consumer facing product</li>
    </ul>
    <p class="resume-item-copy">Main technologies used: Ruby on Rails, BrowserCMS, Sass, jQuery.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Fidelus Technologies</h3>
    <h4 class="resume-item-details" itemprop="description">Senior Software Engineer &bull; Jan, 2009 &mdash; Feb, 2011</h4>
    <p class="resume-item-copy">Lead Software Engineer tasked with building the initial version of Fidelus Technologies Provisioning Manager Express (now called <a href="http://www.akkadianlabs.com/cisco-uc-provisioning-software-case-study/" target="_blank">akkadian Provisioning Manager Express</a>).</p>
    <p class="resume-item-copy">Main technologies used: PHP, jQuery, HTML, CSS.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Eons, Inc.</h3>
    <h4 class="resume-item-details" itemprop="description">Software Engineer &bull; Apr, 2008 &mdash; Oct, 2008</h4>
    <p class="resume-item-copy">Contributing software engineer for the Eons.com web properties.</p>
    <p class="resume-item-copy">Main technologies used: Ruby on Rails.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">Monster.com</h3>
    <h4 class="resume-item-details" itemprop="description">Software Engineer &bull; Nov, 2005 &mdash; Apr, 2008</h4>
    <p class="resume-item-copy">Part of the Monster Labs, LLC collaboration, which was a collaborative and cross functional group that included business, product, marketing, research, design and development teams of 3-5 people. Labs was chartered with R&D and bringing innovation back to Monster.com with these small cross functional teams.</p>
    <p class="resume-item-copy">Main technologies used: OpenLaszlo, javascript.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">CitiGroup</h3>
    <h4 class="resume-item-details" itemprop="description">Software Engineer &bull; Jul, 2004 &mdash; Nov, 2005</h4>
    <p class="resume-item-copy">Main web developer for Forum Financial Services group as they transitioned in integrating into CitiGroup after being bought.</p>
    <p class="resume-item-copy">Main technologies used: ASP.Net, VB.Net, SQL.</p>
  </div><!-- end of resume-item -->

  <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
  <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
    <h3 class="resume-item-title" itemprop="name">EMC</h3>
    <h4 class="resume-item-details" itemprop="description">Software Engineer &bull; Jan, 2001 &mdash; Jul, 2004</h4>
    <p class="resume-item-copy"></p>
    <p class="resume-item-copy">Main technologies used: ASP.Net, C#, javascript.</p>
  </div><!-- end of resume-item -->

</section>
