<section class="content-section">

  <header class="section-header">
    <h2>Projects</h2>
  </header>

  <div class="resume-item">
    <h3 class="resume-item-title"><a href="http://www.startbiking.com">startbiking.com</a> <small>(offline)</small></h3>
    <h4 class="resume-item-details">Founder & Primary Developer &bull; 2007 &mdash; Present</h4>
    <p class="resume-item-copy">StartBiking is dedicated to getting people out and riding their mountain bikes. By providing an extensive list of nearby trails, for all ability levels, we aim to be the #1 destination for local trails for all riders. Now get out and ride!</p>
  </div>

  <div class="resume-item">
    <h3 class="resume-item-title"><a href="http://www.shredpowder.com">shredpowder.com</a> <small>(offline)</small></h3>
    <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
    <p class="resume-item-copy">shredPowder is striving to be the all inclusive site to plan, reminisce and revel in your skiing and snowboarding adventures. Get stoked and go shred!</p>
  </div>

  <div class="resume-item">
    <h3 class="resume-item-title"><a href="http://www.resetcss.com">resetcss.com</a> <small>(under construction)</small></h3>
    <h4 class="resume-item-details">Founder & Primary Developer &bull; 2009 &mdash; Present</h4>
    <p class="resume-item-copy">My personal portfolio.</p>
  </div>

</section>
