<section class="content-section">

  <header class="section-header">
    <h2>Skills</h2>
  </header>

  <div class="resume-item">
    <h4 class="resume-item-details">Programming Languages</h4>
    <p class="resume-item-copy">JavaScript, PHP, Ruby, Rails, C#, HTML, CSS</p>
  </div>

  <div class="resume-item">
    <h4 class="resume-item-details">Frameworks / Libraries</h4>
    <p class="resume-item-copy">React, NextJS, Angular, BackboneJS, Marionette, JestJS, KarmaJS, JasmineJS, Grunt, Gulp, jQuery, SASS, LESS, OpenLaszlo, ASP.NET MVC</p>
  </div>

  <div class="resume-item">
    <h4 class="resume-item-details">Data</h4>
    <p class="resume-item-copy">SQL, MySQL, PostgreSQL</p>
  </div>

  <div class="resume-item">
    <h4 class="resume-item-details">Other</h4>
    <p class="resume-item-copy">Docker, AWS, Git</p>
  </div>

</section>
